@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <div class="main d-flex flex-column justify-content-center">
        <div class="top-row px-4">
            <a href=""  class="ml-md-auto">Logout</a>
        </div>

        <div class="content px-2">
            @Body
        </div>
    </div>
</div>

<style>
    .content {
        background-color: #F0F5F5;
    }

</style>