@page "/form"





    <style>


        .questionContainer {
            padding: 0.5rem;
            box-shadow: 5px 5px 5px rgba(68,68,68,0.3);
            border-radius: 4px;
            background-color: white;
        }


        
    </style>





    <div class="formContainer">
        <div class="progressbar-wrapper">
            <ul class="progressbar">
                <li class="active">Step 1</li>
                <li>Step 2</li>
                <li>Step 3</li>
                <li>Step 4</li>
            </ul>
        </div>

        <EditForm Model="@starship">
            <DataAnnotationsValidator />
            <ValidationSummary />

            <div class="form-group questionContainer">
                <label for="exampleInputPassword1">Password</label>
                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
            </div>

            @*<p class="questionContainer">
                <br />
                <label>
                    Identifier:
                    <InputText @bind-Value="starship.Identifier" />
                </label>
            </p>
            <p>
                <label>
                    Description (optional):
                    <InputTextArea @bind-Value="starship.Description" />
                </label>
            </p>
            <p>
                <label>
                    Primary Classification:
                    <InputSelect @bind-Value="starship.Classification">
                        <option value="">Select classification ...</option>
                        <option value="Exploration">Exploration</option>
                        <option value="Diplomacy">Diplomacy</option>
                        <option value="Defense">Defense</option>
                    </InputSelect>
                </label>
            </p>
            <p>
                <label>
                    Maximum Accommodation:
                    <InputNumber @bind-Value="starship.MaximumAccommodation" />
                </label>
            </p>
            <p>
                <label>
                    Engineering Approval:
                    <InputCheckbox @bind-Value="starship.IsValidatedDesign" />
                </label>
            </p>
            <p>
                <label>
                    Production Date:
                    <InputDate @bind-Value="starship.ProductionDate" />
                </label>
            </p>*@

            <button type="submit">Submit</button>
        </EditForm>

    </div>

    @code{


        private testModel starship = new testModel()
        {
            ProductionDate = DateTime.UtcNow,
            Identifier = "Identifier",
            Description = "Discription",
            Classification = "Classsi",
            MaximumAccommodation = 1,
        };


        public class testModel
        {
            public string Identifier { get; set; }

            public string Description { get; set; }

            public string Classification { get; set; }

            public int MaximumAccommodation { get; set; }

            public bool IsValidatedDesign { get; set; }

            public DateTime ProductionDate { get; set; }
        }
    }